[Unit]
Description=Leasehold assistant web Server
After=network.target

[Service]
WorkingDirectory=/home/feboy/Public/leasehold-react
ExecStart=/usr/bin/npm run start
Restart=always

[Install]
WantedBy=multi-user.target
